 
  <div class="py-10">
    <header>
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">
          Bienvenu... Sur Axigbe
        </h1>
      </div>
      <.live_component 
      module={AxigbeWeb.AxigbeLive.FilterComponent}
       id="filter"
      filter={@filter} />
    </header>

    <main>
      <div id="table-container">

        <table>

          <tbody>
            <%= if assigns[:error_message] do %>
              <tr>
                <td colspan="6"><%= @error_message %></td>
              </tr>
            <% else %>
              <%= for product <- @products do %>
                <tr data-test-id={product.id}>
                  <td><%= product.price %></td>
                  <td><%= product.name %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      
      </div>
    </main>
  </div>